@font-face {
  font-family: "roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

/* ****************************header***************************/

header {
  display: flex;
  padding: 8px 8px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-logo img {
  height: 80px;
}
.header-right {
  padding: 20px 50px;
  display: flex;
  align-items: center;
}
.header-right a {
  text-decoration: none;
  color: #004595;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
}
.button1 {
  margin: 0 50px;
  border: 1px solid #004595;
  color: #004595;
  background: none;
  font-weight: bold;
  font-size: small;
}
.button2 {
  border: none;
  font-weight: 500;
  font-size: small;
  border: 1px solid #91c74b;
  background: #91c74b;
  color: white;
}
.button1,
.button2 {
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

/* ****************************home**************************/

.home {
  display: flex;
  align-items: center;
  background: #cdf7f62c;
  color: #69a3a2;
  padding: 10px 40px;
  font-size: small;
  font-weight: lighter;
  border-bottom: 2px solid #cdf7f6;
}
.home p {
  margin-right: 20px;
  font-size: smaller;
}
.home i {
  font-size: smaller;
}

/* ******************************main************************/

main {
  background: #f2f5f8;
  padding: 50px 0;
}
section {
  width: 80%;
  margin: 0 auto;
}

/* *****************************section1***************************/

.section1 {
  margin-bottom: 60px;
}

.bienvenue {
  display: grid;
  grid-template-columns: 66% 34%;
  gap: 15px;
  margin-top: 15px;
}
.bienvenue-left,
.bienvenue-right {
  background: white;
  border-radius: 10px;
  padding: 20px 15px;
}

.bienvenue-left-img {
  background: url(./assets/img/medecin.jpg) center/cover;
  height: 230px;
  border-radius: 10px;
}
.bienvenue-left h2 {
  width: 90%;
  margin: 40px 0 10px;
}

.bienvenue-left h2,
h3 {
  color: #133b3a;
}
.bienvenue-left p {
  color: #69a3a2;
  margin-bottom: 30px;
  font-size: small;
}
.i {
  display: flex;
  justify-content: space-between;
}
.left-text {
  padding: 10px;
  margin: 0 auto;
}
.i i {
  color: #8172d5;
}
.i1 i {
  margin-right: 10px;
  width: 8px;
  font-size: 12px;
}
.i2 {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.bienvenue-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right {
  display: flex;
}

.img-right img {
  height: 80px;
  border-radius: 10px;
  margin-right: 15px;
}
.text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-right h5 {
  color: #133b3a;
}

.text-right p {
  font-size: smaller;
  color: #69a3a2;
}

/* *******************************section2**************************/

.section2 {
  margin-bottom: 60px;
}

.demande-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
}
.demande {
  background: white;
  padding: 20px 15px;
  border-radius: 10px;
  margin-top: 15px;
}

.demandes-left-img {
  background: url(./assets/img/consultation.jpg) top/cover;
  height: 125px;
  border-radius: 10px;
}
.demandes-right-img {
  background: url(./assets/img/pharmacie.jpg) center/cover;
  height: 125px;
  border-radius: 10px;
}
.demande h3 {
  margin-top: 20px;
  letter-spacing: 1px;
}
.demande p {
  font-size: 0.9rem;
  color: #004595;
  margin: 20px 0;
  width: 90%;
}
.button {
  text-align: center;
  margin-bottom: 10px;
}
.demande button {
  background: none;
  padding: 10px 100px;
  color: #004595;
  border: 1px solid #004595;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/*******************************section3***************************/

.section3 {
  margin-bottom: 40px;
}
.section3 h3 {
  margin-bottom: 20px;
}
.questions {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-top: 10px;
}
.lorem {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  padding: 30px;
  color: #8172d5;
}

/********************************footer*********************************/

.espace {
  background: #cdf7f62c;
  height: 95px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004595;
  color: white;
  height: 70px;
  padding-left: 40px;
  padding-right: 110px;
  font-size: smaller;
  font-weight: 300;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-container a {
  text-decoration: none;
  color: white;
}
